<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<table style="width:100%">
  <tr>
    <th><h1>JUGADOR 1</h1></th>
  </tr>
    <tr>
    <th><h1>JUGADOR 2</h1></th>
  </tr>
 </table> 

<h1>TURNO JUGADOR 1</h1>



<table style="width:100%">
  <tr>
    <th><h1>CARTAS JUGADOR 1</h1></th>
  </tr>
    <tr>
    <th><h1>1-Yellow</h1></th>
  </tr>
 </table> 
 



</body>
</html>