<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<table style="width:100%" align="center">
  <tr>
    <th>JUGADOR 1</th>
    <th>JUGADOR 2</th>
  </tr>
 </table> 

<h1 align="center">TURNO JUGADOR 1</h1>

<h1 align="center">1-Yellow</h1>

<table style="width:100%" aling align="center">
  <tr>
    <th>CARTAS JUGADOR 1</th>
    <th>CARTAS JUGADOR 2</th> 
  </tr>
  <tr>
    <td>1-Yellow</td>
    <td>4-Blue</td>   
  </tr>

 </table> 
 



</body>
</html>